<h3> Pedido: 1&emsp; Fecha: 2019-03-06 00:00:00<br> <br> <table padding='15'> <tr><th>Producto</th> <th>Cantidad</th> <th>Precio</th></tr> <br><tr><td>Monster </td><td> 2 </td><td> 2&euro; </td></tr><tr><td>Huevos y Papas </td><td> 1 </td><td> 7&euro; </td></tr></table>